<div class="content" id="content" role="main">

  <!-- Highlight Card -->
  <div class="top-container" id="top-container">
    <div class="top-container-item left">
      <img
        width="230px"
        height="auto"
        alt="FIS Logo"
        src="../assets/fisdictlog.png"
      />
    </div>
    <div class="top-container-item middle">
      <h2>Welcome to FIS Dictionary</h2>
      <br>
      <h3>Innovate In 48</h3>
      <h3>Enigma team</h3>
    </div>
    <div class="right">
      <div class="top-container-right-item" (click)="NavigateToAddTerm()">
        <h4><i class="fa fa-plus-square-o" style="padding-right: 10px;" aria-hidden="true"></i>Add new term</h4>
      </div>
      <div *ngIf="user.admin" class="top-container-right-item" (click)="NavigateToAddTag()">
        <h4><i class="fa fa-plus-square-o" style="padding-right: 10px;" aria-hidden="true"></i>Add new tag</h4>
      </div>
    </div>

  </div>

  <div class="card-container" id="main-card-container">

    <div class="filter" id="all_letters">
      <div class="container-name">
        <!--<h2 style="color: black;">Browse FIS dictionary</h2>-->
        <p>Pick a start letter</p>
      </div>
      <div class="alphas">
        <div class="links" id="letter_{{i}}" *ngFor = "let letter of letters; index as i" (click)="Letter(i)">
          <span>{{letter}}</span>
        </div>
        <div style="width: 100%;">
          <div (click)="Letter(-1)" id="show_all" class="show_all">Show all terms</div>
        </div>
      </div>
    </div>

    <div class="filter" id="all_tags">
      <div class="container-name">
        <p>Pick a tag</p>
      </div>

      <div class="alphas">
        <div class="tags" id="tag_{{i}}" *ngFor = "let tag of tags; index as i" (click)="Tag(i)">
          <span>{{tag.name}}</span>
        </div>
      </div>
    </div>

    <div class="card-container card finterms" id="fin-terms">
      <div class="container-name">
        <h2>All terms</h2>
        <div class="search_class">
          <i class="fa fa-search" style="color: white; padding-right: 10px;"></i>
          <input (keyup)="FinTermsSearch()" id="search_terms_id" type="text"
          placeholder="Search financial term" [(ngModel)]="search_term">
        </div>
      </div>

      <div class="card-container" *ngFor = "let terms of FinTermsSearch() | keyvalue" style="width: 100%;">
        <div class="start_letter">{{terms.key}}</div>
        <div *ngIf = "terms.value.length == 0" style="color: white;">
          No items found...
        </div>
        <div class="card-small card-finterms" *ngFor = "let term of terms.value" (click)="NavigateToTerm(term)">
          <span>{{term.title}}</span>
        </div>
      </div>
      <div class="card-container line" *ngIf = "FinTermsSearch().size == 0">
        No items found...
      </div>
    </div>

    <div class="card-container card fisteams" id="fis-teams">
      <div class="container-name">
        <!--<h2>FIS terms per teams</h2>-->
        <p class="white">Filter terms by teams</p>
      </div>

      <div class="card-small fis_teams" id=team_{{i}} *ngFor = "let team of fis_teams_list; index as i" (click)="Team(i)">
        <div class="white" style="margin-bottom: 10px;">{{team.name}}</div>
      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer id="footer">
  <a>FIS Dictionary</a>
</footer>
<router-outlet></router-outlet>
