<div class="content" id="content" role="main">

  <div class="top-container" id="top-container">
    <div class="top-container-item left">
      <img
        width="170px"
        height="auto"
        alt="FIS Logo"
        src="../assets/fisdictlog.png"
      />
      <h1>Welcome to FIS Dictionary</h1>
    </div>
    <div class="top-container-item right">
      <h2>This is FIS Dictionary</h2>
      <br>
      <h3>Innovate In 48</h3>
      <h3>Enigma team</h3>
    </div>
  </div>

  <div class="card-container" id="main-card-container">

    <div class="form-label transparent">
      <h3>Add New Term</h3>
    </div>

    <form class="form" #myform='ngForm'>
      <div class="form-label">
        <p>Name for new term <label *ngIf = "myform.submitted && (term_name==undefined || term_name=='')">*required</label></p>
        <input type="text" spellcheck="false" placeholder="Term name" class="text-input" name="term_name" [(ngModel)]=term_name required>
      </div>

      <div class="form-label">
        <p>Short description
          <label *ngIf = "myform.submitted && (short_description==undefined || short_description=='')">*required</label>
        </p>
        <input type="text" spellcheck="false" placeholder="Term name" class="text-input" name="short_description" [(ngModel)]=short_description required>
      </div>

      <div class="form-label">
        <p>Detailed description
          <label *ngIf = "myform.submitted && (detail_description==undefined || detail_description=='')">*required</label>
        </p>
        <textarea spellcheck="false" placeholder="Detailed description of the term" class="text-area-input" name="detail_description" [(ngModel)]=detail_description required></textarea>
      </div>

      <div class="form-label">
        <p>Pick tag relevant for the term
        </p>
        <select id="tag-select" class="select-custom" (change)="clickedOption()" name="picked_tag" [(ngModel)]="picked_tag">
          <option selected disabled value="">Pick a tag</option>
          <option *ngFor = "let tag of tags; index as i" value={{tag.name}}>
            {{tag.name}}
          </option>
        </select>

      </div>
      <div class="form-label">
        <div class="pick-tags">
          <div *ngFor = "let tag of getPickedTags(); index as i">
            <div class="tag" (click)="removePickedTag(i)">{{tag.name}}
              <i class="fa fa-times" style="font-weight: 100; padding-left: 5px;" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="form-label">
        <input type="checkbox" id="check-box" name="user_team" [(ngModel)]="user_team" style="cursor: pointer;">
        <label style="font-style: normal; color: black; font-weight: lighter; cursor: pointer;" (click)="clickCheckbox()">
          Save term as general term
        </label>
      </div>

      <div class="form-label">
        <input type="submit" (click)="SaveItem()" value={{action_title}} class="submit-btn">
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<footer id="footer">
  <a>FIS Dictionary</a>
</footer>
<router-outlet></router-outlet>
