<!-- Toolbar Header-->
<div class="toolbar" id="toolbar" role="banner">
  <img
    width="60"
    alt="FIS Logo"
    src="../assets/fislogo.png"
  />
  <span style="font-size: 20px;">| FIS Dictionary</span>
    <div class="spacer"></div>
    <a id="home-page" *ngIf="Show(this)" style="color: white; margin-right: 20px; cursor: pointer;" (click)="HomePage()">
      Home page
    </a>
    <a *ngIf="Show(this)" style="color: white; margin-right: 20px; cursor: pointer; font-size: 16px;" (click)="SignOut()">
      <i class="fa fa-sign-out" style="padding-right: 5px; font-size: 15px;" aria-hidden="true"></i>
      Logout
    </a>
</div>


<router-outlet></router-outlet>
